<!DOCTYPE html>
<html>
  <head>
    <title>Company Page</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1>Company Details</h1>
    <table class="company-table">
      <tr>
        <th>Company ID</th>
        <th>Company Name</th>
        <th>Company Quantity</th>
        <th>Actions</th>
      </tr>
      <% companies.forEach(companies => { %>
      <tr>
        <td>
          <li>
            <span><%= companies.CompanyID %></span>
          </li>
        </td>
        <td>
          <li>
            <span><%= companies.CompanyName %></span>
          </li>
        </td>
        <td>
          <li>
            <span><%= companies.CompanyQuantity %></span>
          </li>
        </td>
        <td>
          <a href="/companies/edit/<%= companies.CompanyID%>">Edit</a>
          <a href="/companies/delete/<%= companies.CompanyID%>">Delete</a>
        </td>
      </tr>
      <% }); %>
    </table>
    <div class="link-center">
      <a href="/companies/create">Create New Company</a>
      <a href="/">Back to Warehouse</a>
    </div>
  </body>
</html>
